streamlit
bcrypt
langchain
langchain-huggingface
langchain-text-splitters
langchain-community
langchain-groq
huggingface-hub
faiss-cpu
tiktoken
beautifulsoup4
html2text
sentence-transformers
gunicorn
protobuf
torch
torchvision
torchaudio

